body {
    background-color: rgb(10, 27, 16);
    background-image: url("../assets/firstbase.jpg");
    background-blend-mode: hard-light;
    
}

.greeting {
    margin-top: 250px;
    color: white;
    padding: 35px;
    border-radius: 15%;
    align-items: center;
}

.message {
    text-align: center;
    margin-top: 10px;
}

.loginButton {
    margin-top: 100px;
    display: flex;
    margin-right: auto;
    color: white;
    justify-content: space-evenly;
}